<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.EmployeeMapper">

    <!--
    namespace: 名称空间当
    你的namespace绑定接口后，你可以不用写接口实现类，mybatis会通过该绑定自动
    帮你找到对应要执行的SQL语句
    id: 唯一标识
    resultType: 返回值类型
    #{id}: 从传递过来的参数种取出id值
    -->
    <select id="getEmpById" resultType="com.atguigu.mybatis.Employee">
     select * from tb_employee where id = #{id}
    </select>

    <select id="selectEmp" resultType="com.atguigu.mybatis.Employee">
     select * from tb_employee where id = #{id}
    </select>

    <select id="getEmps" resultType="com.atguigu.mybatis.Employee">
        select * from tb_employee
    </select>

    <insert id="addEmp">
        insert into tb_employee (name,gender,email)
         values(#{name},#{gender},#{email})
    </insert>

</mapper>
